<main id="main">
      <article>
<!-- 各ページスクリプト挿入場所 -->
      <section>
        <%=form_tag("/reserve/reserveInsert") do %>
        <h2>ご予約（最終確認）</h2>
        <p>予約内容をご確認後、よろしければ予約確定ボタンを押してください。</p>
        <h3>予約情報</h3>
        <table class="input">
          <tr><th>お部屋名称</th><td><%= session[:room_name]%></td></tr>
          <tr><th>宿泊日</th><td><%= session[:reserveDay]%></td></tr>
        </table>
        <br>
        <h3>代表者情報</h3>
        <table class="input">
          <tr><th>代表者氏名</th><td><%= session[:name] %></td></tr>
          <tr><th>連絡先電話番号</th><td><%= session[:telno] %></td></tr>
          <tr><th>メールアドレス</th><td><%= session[:mail] %></td></tr>
        </table>
        <br>
        <h3>予約詳細情報</h3>
        <table class="input">
          <tr><th>宿泊人数</th><td><%= session[:reserveNumber] %>人</td></tr>
          <tr><th>チェックイン予定時間</th><td><%= session[:checkin] %></td></tr>
          <tr><th>連絡事項</th><td><%= session[:message] %></td></tr>
        </table>
        <br>
        <input class="submit_a" type="submit" value="予約確定">
          <input class="submit_a" type="button" value="前の画面に戻る"onclick=<%="location.href='http://localhost:3000/reserve/#{session[:room_no]}/reserveDetail'"%>>
        <%end %>
      </section>
      </article>
    </main>
